.projects{
    margin-top: 5rem;

    & > :nth-child(odd) > :first-child{
        order: 2;
        margin-left: 3rem;
        margin-right: 0;

        @media screen and (max-width: 43.75em){
            order: initial;
            margin-left: 0;
        }
    }

    & > :not(:last-child){
        margin-bottom: 10rem;

        @media screen and (max-width: 37.5em){
            margin-bottom: 6rem;
        }
    }


}