@import "../../styles/variables";

.header{
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: rgba(#000, .45);
    box-shadow: 0 0.5rem 1.5rem rgba(#000, .3);
    backdrop-filter: blur(5px);
    
}
.masthead{
    
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 0;


    &__logo{
        
        padding: 1rem 0;
        &___link{
            color: #fff;
        }
    }

}
//     &__nav{

//         @media screen and (max-width: 37.5em) {
//             position: absolute;
//             top: 0;
//             left: 0;
//             height: 100vh;
//             width: 100vw;
//             background-image: linear-gradient(220deg, $primary-color, $primary-color-dark);
//             background-size: 700%;
//             animation: footerBack 10s ease-out infinite;
//             animation: animateNav .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
//         }

//         & ul{
//             @media screen and (max-width: 37.5em) {
//                 text-align: center;
//                 width: 100%;
//                 height: 100%;
//                 transform: translateY(20%);
//             }

//             & > :not(:last-child){
//                 margin-right: 2rem;

//                 @media screen and (max-width: 37.5em) {
//                     margin-right: 0;
//                     margin-bottom: 5rem;
//                 }
//             }
//         }

//         &___list{
//             list-style-type: none;
//             display: inline-block;
//             animation: moveInRight 1.2s ease-out;
//             animation-fill-mode: backwards;

//             @media screen and (max-width: 37.5em) {
//                 display: block;
//                 animation: none;
//             }

            
//             &0001{
//                 animation-delay: 0.2s;
//             }
//             &0002{
//                 animation-delay: 0.4s;
//             }

//         }

//         &___links{
//             display: inline-block;
//             cursor: pointer;
//             color:  #fff;
//             line-height: 3rem;
//         }
//         &___links::after,
//         &___links::before{
//             content: "";
//             display: block;
//             position: relative;
//             background-color: #fff;
//             width: 100%;
//             height: .8px;
//             transform: scaleX(0);
//             transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
//         }

//         &___links::after{
//             transform-origin: left;
//         }

//         &___links::before{
//             transform-origin: right;
//         }

//         &___links:hover::after{
//             transform: scaleX(1);
//             transform-origin: right;
//         }

//         &___links:hover::before{
//             transform: scaleX(1);
//             transform-origin: left;
//         }
//     }

// }



/*hamburger*/

.main_navigation {
    z-index: 1000; }
    .main_navigation__checkbox {
      display: none; }
    @media screen and (max-width: 37.5em) {
      .main_navigation__button {
        display: none;
        position: absolute;
        right: 0;
        padding: 0 1rem;
        margin-right: 1rem; } }
    @media screen and (max-width: 37.5em) and (max-width: 37.5em) {
      .main_navigation__button {
        display: block; } }
    @media screen and (max-width: 37.5em) {
      .main_navigation__hamburger {
        position: relative; }
        .main_navigation__hamburger, .main_navigation__hamburger::before, .main_navigation__hamburger::after {
          width: 2rem;
          height: 1.6px;
          background-color: #fff;
          display: block;
          z-index: 4000; }
        .main_navigation__hamburger::before, .main_navigation__hamburger::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all .2s; }
        .main_navigation__hamburger::before {
          top: -.8rem; }
        .main_navigation__hamburger::after {
          top: .8rem; }
      .main_navigation__checkbox:checked + .main_navigation__button .main_navigation__hamburger {
        background-color: transparent; }
      .main_navigation__checkbox:checked + .main_navigation__button .main_navigation__hamburger::before {
        top: 0;
        transform: rotate(135deg); }
      .main_navigation__checkbox:checked + .main_navigation__button .main_navigation__hamburger::after {
        top: 0;
        transform: rotate(-135deg); } }



//         @keyframes footerBack {

//             0%{background-position:0% 50%}
//             50%{background-position:100% 50%}
//             100%{background-position:0% 50%}
//         }
// @keyframes animateNav {
//     0%{
//         transform: scale(1.2);
//         opacity: 0;
//     }

//     100%{
//         transform: scale(1);
//         opacity: 1;
//     }
// }

// @keyframes moveInRight {
//     0%{
//       opacity: 0;
//       transform: translateX(10rem);
//     }
//     80%{
//       transform: translate(-1rem);
//     }
//     100%{
//       opacity: 1;
//       transform: translate(0);
//     }
//   }